{{>layout/header}}

    <div class="chat_wrap">
        <div class="header">
            CHAT
        </div>
        <div class="list-group" id="chatContext-list">
            <ul>
                <!-- 동적 생성 -->
            </ul>
        </div>
        <div class="input-div">
            <textarea placeholder="Press Enter for send message."></textarea>
        </div>

        <!-- format -->
        <div class="list-group" id="chat-format">
            <ul>
                <li>
                    <div class="sender">
                        <span></span>
                    </div>
                    <div class="message">
                        <span></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

{{>layout/chatfooter}}




