<!DOCTYPE HTML>
<html>
<header>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type", content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/convert.css" type="text/css"/>
    <link rel="stylesheet" href="css/align.css" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;400&display=swap" rel="stylesheet">
</header>
<body>
<!--<script>-->
<!--jQuery(function($) {-->
<!--    $("body").css("display", "none");-->
<!--    $("body").fadeIn(2000);-->
<!--    $("a.transition").click(function(event){-->
<!--        event.preventDefault();-->
<!--        linkLocation = this.href;-->
<!--        $("body").fadeOut(1000, redirectPage);-->
<!--    });-->

<!--    function redirectPage() {-->
<!--    window.location = linkLocation;-->
<!--    }-->
<!--});-->
<!--</script>-->
